
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin-top:90px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #cccccc;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

h1, h3 {
    text-align: center;
    color: #162938;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.btnSignin-popup,
.btnSignout-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.btnSignin-popup:hover,
.btnSignout-popup:hover {
    background: #fff;
    color: #162938;
}

/* Signin Style */
.wrapper {
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .x-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}  

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .envelope-icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.input-box .lock-icon {
    position: absolute;
    right: 8px;
    font-size: 1.6em;
    color: #162938;
    line-height: 57px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    transition: .5s;
}

.btn:hover {
    background: #fff;
    color: #162938;
}

@media (max-width: 800px) {
    body {
        min-height: 80vh;
    }
    header{
        padding: 20px 50px;
    }

    .logo {
        font-size: 1.5em;
    }

    .btnSignin-popup,
    .btnSignout-popup {
        width: 100px;
        height: 40px;
    }      
}
